# Market data (download it locally, don't redistribute)
data/

# Python
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
notebook/

# Secrets
.env

# macOS
.DS_Store

# Streamlit local config
.streamlit/secrets.toml